/* ========= HERO ======== */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-start;
}

/* Фонове зображення + затемнення */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 0;
}

/* Контейнер */
.hero__container,
.hero__content {
  position: relative;
  z-index: 1;
}

/* == ФОНОВЕ ЗОБРАЖЕННЯ == */
/* Мобільна версія */
.hero {
  height: 617px;

  background-image: url('../img/hero-fon/fon-hero-desktop.jpg');
  background-image: image-set(
    url('../img/hero-fon/fon-hero-desktop-webp.webp') type('image/webp') 1x,
    url('../img/hero-fon/fon-hero-desktop@2x-webp.webp') type('image/webp') 2x,
    url('../img/hero-fon/fon-hero-desktop.jpg') type('image/jpeg') 1x,
    url('../img/hero-fon/hero-desktop@2x.jpg') 2x
  );
}

/* Планшетна */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero {
    height: 397px;
  }
}

/* Десктопна */
@media (min-width: 1440px) {
  .hero {
    height: 508px;
  }
}

/* ці падінги добре тримають мені текст і він не тікає не перескакує */
/* ======= HERO__CONTENT ====== */
.hero__content {
  text-align: left;
}

/*====== HERO__TITLE ===== */
.hero__title {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #fff;
  font-size: 40px; /* мобілка */
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__title {
    font-size: 40px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__title {
    font-size: 56px;
  }
}

/* ==== HERO__SUBTITLE===== */
.hero__subtitle {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px; /* мобілка */
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__subtitle {
    font-size: 18px;
    margin-bottom: 32px;
    margin-right: 144px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__subtitle {
    margin-right: 752px;
    margin-bottom: 32px;
  }
}

/*==== HERO__BTN ==== */
.hero__btn {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 46px;
  padding: 10px 24px;
  background-color: #6b0609;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

/* Ховер */
.hero__btn:hover,
.hero__btn:focus {
  background-color: #8b0a0f;
  transform: scale(1.03);
}

/* Планшет */
@media (min-width: 768px) {
  .hero__btn {
    width: 209px;
    padding: 10px 24px;
    text-wrap: nowrap;
  }
}
/* Десктоп */

/*  (мобільна версія) — перенос text видно */
.mobile-br {
  display: inline;
}

/* Планшетна версія: перенос text ховаємо */
@media (min-width: 768px) and (max-width: 1439px) {
  .mobile-br {
    display: none;
  }
}

/* Десктопна версія: перенос знову є text */
@media (min-width: 1440px) {
  .mobile-br {
    display: inline;
  }
}
