  
 /* mobil -----------*/
 .hero {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('../img/furniture-list/fon-hero-mobile.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
   padding: 0; 
   width: 100%;
}

/* Планшет від 768px -------*/
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
     url('../img/furniture-list/fon-hero-desktop.jpg');
    font-size: 1.2rem;
  }
}

/* Десктоп від 1440px ------------*/
@media (min-width: 1440px) {
  .hero {
     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('../img/furniture-list/fon-hero-desktop.jpg');
    font-size: 1.5rem;
  }
}



   /* mobil -----------*/
 .hero__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;                 
  font-style: normal;             
  font-size: 40px;               
  line-height: 120%;                
  letter-spacing: 1%;                
  color: #ffffff !important;                      
  margin: 0 0 20px 0;                
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
  
   /* Планшет 768px+------------ */
  @media (min-width: 768px) {
  .hero__title {
    font-size: 40px; 
    line-height: 120%;
  }
}

  /* Десктоп 1440px+--------------- */
   @media (min-width: 1440px) {
  .hero__title {
    font-size: 56px;
    line-height: 120%;
  }
 }


/* Мобільні <768px — показуємо перенос тексту */
.mobile-br {
  display: none;
}

/* (планшет) — перенос прихований  тексту */
@media (min-width: 768px) and (max-width: 1439px) {
  .mobile-br {
    display: none;
  }
}

/* Десктоп >=1440px — показуємо перенос тексту як у фігмі */
@media (min-width: 1440px) {
  .mobile-br {
    display: inline;
  }
}


/* Тут ставимо медіа і розмір, щоб не відбувався перенос тексту */
@media (max-width: 767px) { 
    .hero__content { 
     width: 335px; max-width: 100%;
     height: 343px; 
   }
  } 

     .hero__content {
      text-align: left;
      padding-left: 19.5px;
      padding-right: 20.5px;
     width: 375px; }


/* Планшет 768px+ */
@media (min-width: 768px) {
  .hero__content {
    padding-left: 31.5px;  
    padding-right: 31.5px; 
    max-width: auto; 
    width: 769px;           
  }
}

/* Десктоп 1440px+ */
@media (min-width: 1440px) {
  .hero__content {
    padding-left: 63px;   
    padding-right: 79px;  
    max-width: auto; 
    width: auto;
    width: 1312px;        
  }
}

.hero__subtitle {
  font-family: 'Raleway', sans-serif; 
  font-weight: 400;                 
  font-style: normal;                
  font-size: 16px;                    
  line-height: 160%;                  
  letter-spacing: 0;                  
  color: #ffffff !important;                 
  margin: 0 0 20px 0;  
  width: auto;              
}

@media (min-width: 768px) {
.hero__subtitle {
font-family: var(--font-family);
font-size: 18px;
line-height: 160%;
}
}

@media (min-width: 1440px) {
 .hero__subtitle  {
font-family: var(--font-family);
line-height: 160%;
 max-width: 560px;
 }
 } 


.hero__btn {
  display: inline-block;
  min-width: 209px;       /* мінімальна ширина */
  height: 46px;
  padding: 10px 24px;
  border-radius: 100px;

  background-color: #6b0609;
  color: #ffffff;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: none;

  box-shadow: 
    0 1px 2px rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px rgba(255, 255, 255, 0.25),
    inset 0 32px 24px rgba(255, 255, 255, 0.05);
}
















