  
 /* mobil -----------*/
 .hero {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('../img/furniture-list/fon-hero-mobile.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 20px;
}

/* Планшет від 768px ------------*/
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
     url('../img/furniture-list/fon-hero-desktop.jpg');
    font-size: 1.2rem;
  }
}

/* Десктоп від 1440px ------------*/
@media (min-width: 1440px) {
  .hero {
    font-size: 1.5rem;
  }
}



 /* mobil -----------*/
 .hero__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;                 
  font-style: normal;             
  font-size: 36px;    /* розмір змінила */              
  line-height: 120%;                
  letter-spacing: 1%;                
  color: #fff;                       
  margin: 0 0 20px 0;                
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
  
   /* Планшет 768px+----------------- */
  @media (min-width: 768px) {
  .hero__title {
    font-size: 40px; 
    line-height: 120%;
  }
}

 /* Десктоп 1440px+----------------- */
   @media (min-width: 1440px) {
  .hero__title {
    font-size: 56px;
    line-height: 120%;
  }
 }


/* Мобільні <768px — показуємо перенос */
.mobile-br {
  display: none;
}

/* (планшет) — перенос прихований */
@media (min-width: 768px) and (max-width: 1439px) {
  .mobile-br {
    display: none;
  }
}

/* Десктоп >=1440px — показуємо перенос */
@media (min-width: 1440px) {
  .mobile-br {
    display: inline;
  }
}





/* Тут ставимо медіа і розмір, щоб не відбувався перенос */
@media (max-width: 767px) { 
    .hero__content { 
        width: 335px; max-width: 100%;
         height: 343px; 
        } } 
        .hero__content {
      text-align: left;
      padding-left: 19.5px;
      padding-right: 20.5px; }


/* Планшет 768px+ */
@media (min-width: 768px) {
  .hero__content {
    padding-left: 31.5px;  
    padding-right: 31.5px; 
        max-width: auto;         
  }
}

/* Десктоп 1440px+ */
@media (min-width: 1440px) {
  .hero__content {
    padding-left: 63px;   
    padding-right: 79px;  
    max-width: auto; 
    width: auto;
          
  }
}


.hero__subtitle {
  font-family: 'Raleway', sans-serif; 
  font-weight: 400;                 
  font-style: normal;                
  font-size: 16px;                    
  line-height: 160%;                  
  letter-spacing: 0;                  
  color: #fff;                      
  margin: 0 0 20px 0;  
  width: auto;              
  
}
@media (min-width: 768px) {
.hero__subtitle {
font-family: var(--font-family);
font-size: 18px;
line-height: 160%;
}
}

@media (min-width: 1440px) {
 .hero__subtitle  {
font-family: var(--font-family);
line-height: 160%;
 max-width: 560px;
 }
 } 


.hero__btn {
  width: 209px;           
  height: 46px;            
  padding: 10px 24px;      
  border-radius: 100px;   
  
  background-color: #6b0609 !important;  
  color: #ffffff !important;            
  
  text-align: center;
  font-family: var(--font-family, 'Raleway', sans-serif);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  
  box-shadow: 
    0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  white-space: nowrap;     
  cursor: pointer;         
  border: none;            
}















