/* HTML: <div class="loader"></div> */
.loader-image,
.loader {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader-image:before,
.loader:before {
  content: 'Loading...';
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
