<section class="about-us">
    <div class="about-us-container">
        <div class="about-us-content">
        <h2 class="about-us-title">Про Меблерію</h2>
        
        
        <p class="about-us-text">У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.</p>
        </div>
        <div class="about-us-image">
        <picture>
            <source srcset="/img/desktop/about-us-section-dt-min.png 1x , /img/desktop/about-us-section-dt@2x-min.png 2x"
            media="(min-width: 1440px)"/>     

            <source srcset="/img/tablet/about-us-section-tb-min.png 1x , /img/tablet/about-us-section-tb@2x-min.png 2x"
                media="(min-width: 764px)"/>
            
            <source srcset="/img/mobile/About-Us-Section-mb-min.png 1x , /img/mobile/About-Us-Section-mb@2x-min.png 2x" />
            <img
                class="about-us-image"
                src="/src/img/About-Us-Section-mb-min.png"
                alt="about us"
            />
        </picture>
        </div>
    
    </div>

