<section class="feedback-section" id="feedback">
  <div class="container feedback-section-container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
      </div>
      <div
        class="swiper-button-next"
        style="bottom: 0; top: auto; right: 0; left: auto"
      >
        <svg class="swiper-button-icon">
          <use href="/img/icons.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>
      <div
        class="swiper-button-prev"
        style="bottom: 0; top: auto; right: 48px; left: auto"
      >
        <svg class="swiper-button-icon">
          <use href="/img/icons.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
