<section class="feedback-section">
  <div class="feedback-section-container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-description">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="feedback-rating"></div>
          <p class="feedback-text"></p>
          <p class="feedback-name"></p>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
</section>