<footer>
  <div class="container footer">
    <div class="footer-left">
      <a class="footer-logo" href="#header">
        <svg class="icon icon-logo-footer" width="228px" height="97px">
          <use href="./img/icons.svg#icon-logotype"></use>
        </svg>
      </a>
      <p class="copyright desktop">© 2025 Меблерія. Всі права захищені.</p>
    </div>

    <div class="footer-right">
      <ul class="nav-list-footer">
        <li class="nav-list-footer-item">
          <a href="#furniture">Наші меблі</a>
        </li>
        <li class="nav-list-footer-item">
          <a href="#about-us">Про нас</a>
        </li>
        <li class="nav-list-footer-item">
          <a href="#FAQ">Часті питання</a>
        </li>
        <li class="nav-list-footer-item">
          <a href="#feedback">Відгуки</a>
        </li>
      </ul>
      <ul class="social-media-list">
        <li class="social-media-list-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="copyright mobile">© 2025 Меблерія. Всі права захищені.</p>
    </div>
  </div>
</footer>
