<footer>
  <div class="container footer">
    <a class="footer-logo" href="./src/index.html">Меблерія</a>
    <ul class="nav-list-footer">
      <li class="nav-list-footer-item">
        <a href="./furniture-list.html">Наші меблі</a>
      </li>
      <li class="nav-list-footer-item">
        <a href="./about-us.html">Про нас</a>
      </li>
      <li class="nav-list-footer-item">
        <a href="./FAQ.html">Часті питання</a>
      </li>
      <li class="nav-list-footer-item">
        <a href="./feedback.html">Відгуки</a>
      </li>
    </ul>
    <ul class="social-media-list">
      <li class="social-media-list-item">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Youtube"></use></svg
        ></a>
      </li>
      <li class="social-media-list-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Instagram"></use></svg
        ></a>
      </li>
      <li class="social-media-list-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><svg class="icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">© 2025 Relume. Всі права захищені.</p>
  </div>
</footer>
