<div class="modal-furniture-backdrop is-hidden" data-modal="furniture-details">
  <div class="container modal-furniture-container">
    <button type="button" class="modal-furniture-close-btn">
      <svg class="modal-furniture-close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-furniture-content">
      <div class="modal-furniture-gallery"></div>
      <div class="modal-furniture-info"></div>
    </div>
  </div>
</div>
