<header class="header" id="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link" aria-label="Логотип компанії">
      <svg class="company-icon" width="159" height="70" aria-hidden="true">
        <use href="./img/icons.svg#icon-logotype"></use>
      </svg>
    </a>

    <nav class="desktop-nav desktop-only" aria-label="Основна навігація">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#furniture" class="nav-link">Наші меблі</a>
        </li>
        <li class="nav-list-item">
          <a href="#about-us" class="nav-link">Про нас</a>
        </li>
        <li class="nav-list-item">
          <a href="#FAQ" class="nav-link">Часті питання</a>
        </li>
        <li class="nav-list-item">
          <a href="#feedback" class="nav-link">Відгуки</a>
        </li>
      </ul>
    </nav>

    <a href="#furniture" class="header-buy-button desktop-only">До покупок</a>

    <button
      type="button"
      class="burger-menu-btn mobile-only js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="Відкрити меню"
    >
      <svg class="burger-icon" width="32" height="32" aria-hidden="true">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <div
      class="mobile-menu-container js-menu-container"
      id="mobile-menu"
      role="dialog"
      aria-modal="true"
      aria-hidden="true"
    >
      <div class="mobile-menu-content" tabindex="-1">
        <nav aria-label="Мобільна навігація">
          <ul class="mobile-menu-list">
            <li>
              <a href="#furniture" class="nav-link js-close-menu">Наші меблі</a>
            </li>
            <li>
              <a href="#about-us" class="nav-link js-close-menu">Про нас</a>
            </li>
            <li>
              <a href="#FAQ" class="nav-link js-close-menu">Часті питання</a>
            </li>
            <li>
              <a href="#feedback" class="nav-link js-close-menu">Відгуки</a>
            </li>
          </ul>
        </nav>

        <a href="#furniture" class="button mobile-order-btn js-close-menu"
          >До покупок</a
        >
      </div>
    </div>
  </div>
</header>
