  
  <section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        
        <h1 class="hero__title">
         Створіть свій <br class="mobile-br">ідеальний дім
       </h1>

        <p class="hero__subtitle">
          Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір.
          Наша продукція поєднує в собі елегантність та функціональність.
        </p>
        


         <a href="#feedback" class="hero__btn">Що про нас думають?</a>


      <!--  ( це як щоб треба відкрити нову сторінку, але у мене повимогам---якірне посилання тому 
         через бутон не роблю)
        <a href="partials/feedback.html">
        <button class="hero__btn">Що про нас думають?</button>
       </a>    
       -->

   <!--  а той хто робить фідбек має додати ( id ) щоб, було як по вимогам якірне посилання
     (Прокрутка до секції без перезавантаження)

        <section id="feedback" class="feedback">
         Тут  код ----------------
        </section> 
    -->
      </div>
    </div>
  </div>
</section>


