/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./sections-css/loader.css');
@import url('./sections-css/header.css');
@import url('./sections-css/hero.css');
@import url('./sections-css/furniture-list.css');
@import url('./sections-css/about-us.css');
@import url('./sections-css/FAQ.css');
@import url('./sections-css/feedback.css');
@import url('./sections-css/furniture-details-modal.css');
@import url('./sections-css/order-modal.css');
@import url('./sections-css/footer.css');
